# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.VR project - Copie.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ASUS\Documents\GitHub\ProjetVR-AmongUs-fps-minitask\VR project - Copie\.idea\.idea.VR project - Copie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
